/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include "swe_keys.h"
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/ext_power.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>

#define DEFAULT     0
#define GAMING      1
#define SYMBOLS_SWE 2
#define FUNC        3
#define NUMBER      4
#define SETTINGS    5

/ {
    behaviors {
        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_MODS";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick-tap-ms = <0>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };

        hs: homerow_mods_slow {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_MODS_SLOW";
            #binding-cells = <2>;
            tapping-term-ms = <300>;
            quick-tap-ms = <0>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };
    };

    cond_layers {
        compatible = "zmk,conditional-layers";

        // Define SETTINGS layer as tri-state

        func_tristate {
            if-layers = <1 3>;
            then-layer = <4>;
        };
    };

    /*           40 Keys
╭─────────────────╮ ╭─────────────────╮
│    0  1  2  3  4│ │ 5  6  7  8  9   │
│10 11 12 13 14 15│ │16 17 18 19 20 21│
│22 23 24 25 26 27│ │28 29 30 31 32 33│
╰────────╮34 35 36│ │37 38 39╭────────╯
         ╰────────╯ ╰────────╯       */
    /*    combos {
        compatible = "zmk,combos";

        combo_esc {
            timeout-ms = <50>;
            key-positions = <0 1>;
            bindings = <&kp ESC>;
        };
        combo_tab {
            timeout-ms = <50>;
            key-positions = <10 11>;
            bindings = <&kp TAB>;
        };
        combo_ralt {
            timeout-ms = <50>;
            key-positions = <17 16>;
            bindings = <&kp RALT>;
        };
        combo_lalt {
            timeout-ms = <50>;
            key-positions = <11 12>;
            bindings = <&kp LALT>;
        };
        combo_lgui {
            timeout-ms = <50>;
            key-positions = <12 13>;
            bindings = <&kp LGUI>;
        };
        combo_rgui {
            timeout-ms = <50>;
            key-positions = <17 18>;
            bindings = <&kp RGUI>;
        };
    }; */

    combos {
        compatible = "zmk,combos";

        Qwerty {
            bindings = <&to 5>;
            key-positions = <15 16>;
            layers = <0>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        Def {
            bindings = <
        &kp Q           &kp W           &kp F         &kp P        &kp B          &kp J           &kp L        &kp U         &kp Y           &kp SEMICOLON
&none   &hs LEFT_ALT A  &hm LEFT_GUI R  &hm LSHIFT S  &hm LCTRL T  &kp G          &kp M           &hm RCTRL N  &hm RSHIFT E  &hm LEFT_GUI I  &hs RIGHT_ALT O  &none
&trans  &kp Z           &kp X           &kp C         &kp D        &kp V          &kp K           &kp H        &kp COMMA     &kp DOT         &kp SLASH        &none
                                        &to 2         &kp SPACE    &kp BACKSPACE  &mt ESCAPE TAB  &kp ENTER    &to 1
            >;
        };

        Sym {
            bindings = <
       &kp N1                   &kp N2                  &kp N3               &kp N4           &kp N5             &kp N6          &kp N7           &kp N8            &kp N9              &kp N0
&none  &hs LEFT_ALT APOSTROPHE  &hm LEFT_GUI AMPERSAND  &hm LSHIFT ASTERISK  &hm LCTRL GRAVE  &kp LEFT_BRACKET   &kp MINUS       &hm RCTRL TILDE  &hm RSHIFT EQUAL  &hm RIGHT_GUI PIPE  &hm RIGHT_ALT UNDERSCORE  &none
&none  &kp PERCENT              &kp POUND               &kp CARET            &kp DOLLAR       &kp RIGHT_BRACKET  &kp LEFT_BRACE  &kp RIGHT_BRACE  &kp COMMA         &kp PERIOD          &kp BACKSLASH             &none
                                                        &to 2                &trans           &trans             &trans          &trans           &to 0
            >;
        };

        Nav {
            bindings = <
       &none  &kp PAGE_UP     &kp UP_ARROW    &kp PAGE_DOWN    &none   &none   &none   &none  &none  &none
&none  &none  &kp LEFT_ARROW  &kp DOWN_ARROW  &kp RIGHT_ARROW  &none   &none   &none   &none  &none  &none  &none
&none  &none  &kp HOME        &kp INSERT      &kp END          &none   &none   &none   &none  &none  &none  &none
                              &to 1           &trans           &trans  &trans  &trans  &to 0
            >;
        };

        Func {
            bindings = <
       &none     &kp F1  &kp F2   &kp F3   &kp F4   &kp HOME    &kp PG_UP  &kp UP      &kp PG_DN   &kp DEL
&none  &none     &kp F5  &kp F6   &kp F7   &kp F8   &kp END     &kp LEFT   &kp DOWN    &kp RIGHT   &none    &kp C_VOL_UP
&none  &kp CAPS  &kp F9  &kp F10  &kp F11  &kp F12  &kp C_PREV  &kp C_PP   &kp C_NEXT  &kp K_MUTE  &none    &kp C_VOL_DN
                         &none    &trans   &trans   &trans      &trans     &none
            >;
        };

        Settings {
            bindings = <
       &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4  &ext_power EP_ON  &ext_power EP_OFF  &none  &none  &none
&none  &bt BT_CLR    &none         &none         &none         &none         &none             &none              &none  &none  &none  &to 0
&none  &out OUT_BLE  &out OUT_USB  &none         &none         &bootloader   &bootloader       &none              &none  &none  &none  &to 0
                                   &none         &trans        &trans        &trans            &trans             &none
            >;
        };

        Qwerty {
            bindings = <
        &kp Q  &kp W  &kp E   &kp R   &kp T   &kp Y   &kp U   &kp I      &kp O    &kp P
&trans  &kp A  &kp S  &kp D   &kp F   &kp G   &kp H   &kp J   &kp K      &kp L    &kp SEMI  &trans
&trans  &kp Z  &kp X  &kp C   &kp V   &kp B   &kp N   &kp M   &kp COMMA  &kp DOT  &kp FSLH  &trans
                      &trans  &trans  &trans  &trans  &trans  &trans
            >;
        };
    };
};
